@font-face {
    font-family: 'Didot';
    src: url('GFSDidot.woff2');
}
@font-face {
    font-family: 'Alex Brush';
    src: url('AlexBrush.woff2');
}

*{
    overflow-wrap: break-word;
}

body{
    background-image: url("kepek/bg/levendula2.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Didot', sans-serif;
    font-size: 18px;
    margin: 10px;
    line-height: 1.6;
}

p {
    margin-top: 1em;
    margin-bottom: 0;
}

p:first-child {
    margin-top: 0;
}

h1  {
    margin-top: 0;
    font-size: 1.6em;
    font-weight: normal;
}

.gyurukep {
    margin-top: 1.6em;
    width: 4em;
}

.card {
    text-align: center;
    padding: 1em;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgba(153,178,233,.62);
    /* backdrop-filter: blur(4px); */
}

@media only screen and (min-width: 522px){
    .card {
    width: 460px;
    margin: auto;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.alairas{
    font-family: 'Alex Brush', sans-serif;
    font-size: 2.3em;
}

.pagelinks a, a.button {
    font-size: 0.87em;
    text-decoration: none;
    /* background-color: rgba(25,27,63,.39); */
    color: black;
    background-color: rgba(153,178,233,0.79);
    /* background-color: rgba(121,141,184,.62); */
    padding: 0.24em 0.38em 0.24em;
    border-color: rgb(121,141,184);
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    margin-right: 0.62em;
    margin-left: 0.62em;
}

.pagelinks a:hover, a.button:hover {
    border-color: white;
    background-color: rgba(255,255,255,.38);
    /* background-color: rgba(25,27,63,.39); */
}

a.button {
    margin: 0;
}

a.openit {
    font-size: 1em;
}

.pagelinks{
    margin-top: 2em;
    margin-bottom: 1em;
    height: 10%;
    text-align: center;
}

.menu{
    margin-top: 1.38em;
}

.menu img {
    height: 2em;
    margin-right: 0.62em;
    background-color: rgba(153,178,233,0.79);
    padding: 0.24em 0.38em 0.24em;
    border-color: rgb(121,141,184);
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
}

.menu img.lastbutton {
    margin-right: 0;
}

.menu a > img:hover{
    border-color: white;
    background-color: rgba(255,255,255,.38);
}

.menu img.selected {
    filter: opacity(0.38);
}

ul {
    list-style-type: none;
    padding-bottom: 1em;
}

.countdown{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.counter2, .counter3 {
    text-align: right;
    display: inline-block;
}

.counter2 {
    width: 1.5em;
}

.counter3 {
    width: 2.2em;
}

.timeline {
    width: 16em;
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 0.15em;
    margin-left: -0.075em;
    background-color: rgb(121,141,184);
    top: 0;
    bottom: 0;
    left: 5em;
    border-radius: 4px;
}

.container {
    text-align: left;
    padding: 0.5em 0em 0.5em;
    line-height: 1.2;
}

.contentleft {
    position: relative;
    width: 4em;
    text-align: right;
    display: inline-block;
    margin-right: 2em;
}

.contentright {
    width: 10em;
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.contentleft::after {
    content: '';
    background-image: url('heart.svg');
    background-size: 1em 1em;
    position: absolute;
    width: 1em;
    height: 1em;
    right: -1.5em;
    /* background-color: rgb(153,178,233); */
    /* border-width: 0.15em; */
    /* border-style: solid; */
    /* border-color: rgb(121,141,184); */
    top: 0.1em;
    /* border-radius: 50%; */
    z-index: 3;
    margin-left: 0.7em;
}
